body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: inline;
    background: white;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.entry{
    background: rgba(59, 74, 107, .4);
}

.headline {
    font-size: xx-large;
    text-align: center;
}

.title{
    text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input {
    display: block;
    height: 40px;
    width: 200px;
    background: darkgray;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    position: fixed;
    display: block;
    left: 450px;
    top: 220px;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    width: 400px;
    background-color: darkgray;
}

button:hover{
    cursor: pointer;
}

h1{
    font-size: 36px;
}

textarea{
    background: darkgray;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height: 100px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color:rgba(59, 74, 107, .4); 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: rgba(59, 74, 107, .4); 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: rgba(59, 74, 107, .4); 
    font-family: 'Oswald', sans-serif;

} 